<h1>Tree Models</h1>
 
<p>Create your own model metadata prior to model upload: <%= link_to 'New Tree', new_tree_path %>
</p>

<table>
  <tr>
    <th>Author</th>
    <th>Accuracy</th>
  </tr>
 
  <% @trees.each do |tree| %>
    <tr>
      <td><%= tree.author %></td>
      <td><%= tree.accuracy %></td>
    </tr>
  <% end %>
</table>
